<a
  style="cursor: pointer;"
  [routerLink] = "[index]"
  class="list-group-item clearfix"
  routerLinkActive="active">
  <div class="row">
    <div class="col-xs-8">
      <div class="pull-left">
        <h4 class="list-group-item-heading">{{ recipe.name }}</h4>
        <hr style="margin: 4px;">
        <p class="list-group-item-text">{{ recipe.description }}</p>
      </div>
    </div>
    <div class="col-xs-4">
      <span class="pull-right">
      <img
        [src]="recipe.imagePath"
        alt="{{ recipe.name }}"
        class="img-responsive"
        style="max-width: 100%; 
        height: auto;
        border: 1px solid rgb(196, 190, 190);
        border-radius: 4px;
        padding: 5px;">
      </span>
    </div>
  </div>
</a>
  <!-- <div class="pull-left">
    <h4 class="list-group-item-heading">{{ recipe.name }}</h4>
    <hr style="margin: 4px;">
    <span class="pull-right">
      <img
        [src]="recipe.imagePath"
        alt="{{ recipe.name }}"
        class="img-responsive"
        style="max-height: 50px; margin: 4px;">
    </span>
    <p class="list-group-item-text">{{ recipe.description }}</p>
  </div> -->
  

